header {
  position: relative;
}
/*********************************************************
* Webmaker nav
*/
.webmaker-nav {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  background: #3a3c3c;
  padding: 0;
  margin: 0;
  font-size: 12px;
  list-style: none;
  *zoom: 1;
}
.webmaker-nav:before,
.webmaker-nav:after {
  content: "";
  display: table;
}
.webmaker-nav:after {
  clear: both;
}
.webmaker-nav li {
  float: left;
  border-right: 1px solid #535656;
}
.webmaker-nav li:last-child {
  border-right: none;
}
.webmaker-nav a {
  position: relative;
  display: block;
  height: 100%;
  background: #3a3c3c;
  color: #FFF ;
  font-size: 1em;
  line-height: 26px;
  padding: 0 12px;
  font-weight: 600;
  opacity: 0.4;
  text-decoration: none;
  border-bottom: 0 solid #3a3c3c;
  cursor: pointer;
  -webkit-transition: border-bottom-width 0 0.2s;
  -moz-transition: border-bottom-width 0 0.2s;
  -o-transition: border-bottom-width 0 0.2s;
  -ms-transition: border-bottom-width 0 0.2s;
  transition: border-bottom-width 0 0.2s;
}
.webmaker-nav a:hover,
.webmaker-nav a.active,
.webmaker-nav a.on {
  opacity: 1;
}
.webmaker-nav a.active {
  border-bottom-width: 1px;
  -webkit-transition: border-bottom-width 0 0;
  -moz-transition: border-bottom-width 0 0;
  -o-transition: border-bottom-width 0 0;
  -ms-transition: border-bottom-width 0 0;
  transition: border-bottom-width 0 0;
}
.webmaker-nav.primary {
  height: 26px;
  border-bottom: 1px solid #606363;
}
.webmaker-nav.secondary {
  height: 0;
  overflow: hidden;
  line-height: 50px;
  -webkit-transition: height 0.1s ease-in-out;
  -moz-transition: height 0.1s ease-in-out;
  -o-transition: height 0.1s ease-in-out;
  -ms-transition: height 0.1s ease-in-out;
  transition: height 0.1s ease-in-out;
}
.webmaker-nav.secondary li {
  border-right: none;
}
.webmaker-nav.secondary a {
  font-size: 1.25em;
  line-height: 50px;
}
.webmaker-nav.secondary.open {
  height: 50px;
}
.feedback-icon {
  margin-top: 5px;
  float: left;
  background: url("../img/feedback-icon.png");
  height: 18px;
  width: 20px;
}
.feedback-icon:hover {
  background-position: -19px 0;
}
.webmaker-feedback-btn .feedback-label {
  display: none;
  padding-left: 5px;
}
.webmaker-feedback-btn:hover .feedback-label {
  display: inline;
}
#tabzilla {
  position: absolute;
  top: 0;
  right: 0;
}
/*********************************************************
* Main white header
*/
.main-header {
  position: relative;
  height: 62px;
  line-height: 62px;
  box-shadow: 0 20px 10px -20px rgba(0, 0, 0, 0.2), 0 1px 0 0 #cccccc;
  z-index: 100;
}
/*********************************************************
* Example content for the main header
* 
*/
.logo {
  float: left;
  height: 60px;
  width: 165px;
  margin: 0 20px;
  background: url("../img/thimble-logo.png") 0 5px no-repeat;
}
.project-title {
  font-size: 16px;
  color: #3FB58E;
  padding-bottom: 5px;
  margin-right: 20px;
}
.project-title:hover {
  border-bottom: 1px dashed #AAA;
}
.breadcrumbs {
  position: relative;
  float: left;
  width: 1px;
  height: 100%;
  margin-right: 30px;
  border-right: 1px solid #d6d8d7;
}
.breadcrumbs:after,
.breadcrumbs:before {
  left: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  /* csslint-ignore */

}
.breadcrumbs:after {
  border-left-color: #ffffff;
  border-width: 5px;
  top: 50%;
  margin-top: -5px;
}
.breadcrumbs:before {
  border-left-color: #d6d8d7;
  border-width: 7px;
  top: 50%;
  margin-top: -7px;
}
.user {
  font-size: 14px;
  position: absolute;
  right: 30px;
}
.user img {
  position: relative;
  top: 7px;
  margin-right: 6px;
}
.main {
  padding: 30px;
}
