/* BEGIN EXTREMELY TEMPORARY STYLES */

.webmaker-nav-container li.user-badges div.badge-ui-widget {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background-image: url(../img/badge.png);
  background-size: 16px 16px;
  cursor: pointer;
}

.webmaker-nav-container li.user-badges div.badge-ui-widget ul {
  position: absolute;
  top: 16px;
  left: 0;
  padding: 0;
  background: darkgray;
  color: lightgray;
  z-index: 9001;
  list-style-type: none;
}

.webmaker-nav-container li.user-badges:not(.badge-ui-on) ul {
  display: none;
}

.webmaker-nav-container li.user-badges div.badge-ui-unread {
  font-size: 9px;
  line-height: 9px;
  background: green;
  border-radius: 4px;
  padding: 1px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  display: inline-block;
}

.webmaker-nav-container li.user-badges div.badge-ui-widget ul li {
  padding: 4px;
  white-space: pre;
}

.webmaker-nav-container li.user-badges .badge-ui-earned {
  background: green;
  color: white;
}

.badge-ui-alert:before {
  color: black;
  content: 'U Earned ';
}

.badge-ui-alert {
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  right: 0;
  background: darkgray;
  color: lightgray;
  font-size: 18px;
  padding: 40px;
}

.webmaker-nav-container:not(.logged-in) li.user-badges {
  display: none;
}

/* END EXTREMELY TEMPORARY STYLES */
