/* BEGIN EXTREMELY TEMPORARY STYLES */

.badge-ui-widget {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background-image: url(../img/badge.png);
  background-size: 16px 16px;
  cursor: pointer;
  line-height: normal;
}


.badge-ui-widget ul {
  list-style-type: none;
  padding: 0;
}

.badge-ui-widget ul li .badge-ui-img img {
  width: 64px;
}

.badge-ui-widget .badge-ui-popover {
  cursor: auto;
}

.badge-ui-widget .badge-ui-alert {
  box-shadow: 0 0 5px gold;
}

.badge-ui-widget .badge-ui-alert img.badge-ui-img {
  width: 90px;
}

.badge-ui-widget:not(.badge-ui-on) .badge-ui-detail {
  display: none;
}

.badge-ui-unread {
  font-size: 9px;
  line-height: 9px;
  background: green;
  border-radius: 4px;
  padding: 1px;
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
}

.badge-ui-widget ul li {
  padding: 4px;
}

.badge-ui-widget .badge-ui-backpack .badge-ui-bd {
  font-size: 10px;
}

.webmaker-nav-container:not(.logged-in) li.user-badges {
  display: none;
}

.badge-ui-widget .webmaker-h4 {
  color: #888;
  font-size: 1.1em;
  border-top: 1px dashed #CCC;
  padding-top: 0.5em;
}
.badge-ui-title {
  margin: 0;
}

.badge-ui-name {
  font-size: 1.3em;
  font-weight: 700;
}

.badge-ui-desc {
  font-size: 10px;
}

.badge-ui-unearned-badges li .badge-ui-img {
  background-image: url(../img/badge-unearned.png);
  width: 64px;
  height: 64px;
  background-size: 64px 64px;
}

.badge-ui-unearned-badges li .badge-ui-img img,
.badge-ui-unearned-badges li .badge-ui-desc {
  display: none;
}

/*********************************************************
* Helpers
*/
.badge-ui-fl-right {
  float: right;
}
.badge-ui-block {
  color: #777;
  padding: 1em 0;
  font-size: 11px;
}
.badge-ui-block:first-child {
  padding-top: 0;
}

/* ====== media ====== 
 * From http://www.stubbornella.org/?p=497 */

.badge-ui-media {margin: 10px 0;}
.badge-ui-media .badge-ui-img {float:left; margin-right: 10px;}
.badge-ui-media .badge-ui-img img{display:block;}
.badge-ui-media .badge-ui-imgExt {float:right; margin-left: 10px;}

/* END EXTREMELY TEMPORARY STYLES */
