<li class="user-badges">
  <div class="badge-ui-widget">
    <div class="badge-ui-unread"></div>
    <div class="badge-ui-detail badge-ui-popover">
      <div>Mozilla</div>
      <div class="badge-ui-name">Webmaker Badges</div>
      <div class="badge-ui-earned-badges">
        <div class="badge-ui-media badge-ui-backpack">
          <button class="badge-ui-imgExt">+ Backpack</button>
          <div class="badge-ui-bd">
            Congrats! Send your badges to your backpack to share
            with the world.
          </div>
        </div>
        <div>Earned Badges</div>
        <ul></ul>
      </div>
      <div class="badge-ui-unearned-badges">
        <div>Available Badges</div>
        <ul></ul>
      </div>
    </div>
  </div>
</li>