<div class="wm-nav-container">
  <div class="wm-nav-top">
    <ul class="wm-nav wm-nav-primary">
      <li><a class="on" data-tab="webmaker">Webmaker</a></li>
      <li><a data-tab="projects">Projects</a></li>
      <li><a data-tab="tools">Tools</a></li>
      <li><a data-tab="events">Events</a></li>
      <li><a href="#" class="wm-nav-feedback-btn">Feedback</a></li>
    </ul>
    <ul class="wm-nav wm-nav-user-info">

      <li class="wm-nav-login-container">
        <span class="wm-nav-login-btn">Sign Up</span>
        <div class="wm-nav-join-tooltip wm-nav-tooltip">
          <div class="wm-nav-unit">
            <h3>Log in to earn badges<br> and track your learning.</h3>
            <div class="wm-nav-unit-side">
              <img src="http://people.mozilla.org/~smartell/persona/assets/persona-logo.png" alt="">
            </div>
            <div class="wm-nav-unit-body">
              <p>Don't have an account yet? All you need is an email to get started. Webmaker uses <strong>Persona</strong>, which puts you in control of your identity through a single email address of your choice.</p>
            </div>
          </div>
        </div>
      </li>
      <li class="wm-nav-user">
        <div class="wm-nav-user-name wm-nav-link">
          <span class="wm-nav-user-name-container"></span>
          <span class="wm-nav-icon icon-white icon-downtick"></span>
          <div class="wm-nav-tooltip tooltip-user tooltip-no-hover">
            <ul>
              <li><a class="wm-nav-logout-btn">Logout</a></li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="wm-nav-tabs">
    <div class="wm-nav wm-nav-tab tab-webmaker">
      <div class="wm-nav-tab-inner">
        <div class="wm-nav-logo"></div>
        <h3 class="wm-nav-slogan">Mozilla Webmaker wants to help you make something amazing on the web and learn webmaking skills in the process.</h3>
        <div class="wm-nav-secondary-info">
          <p>You can use Webmaker tools and projects to remix video, create webpages, learn skills like HTML, CSS and collaboration on the Web, earn badges, find meetups in your area and <a href="http://webmaker.org" target="_blank">much much more</a>.</p>
        </div>
      </div>
    </div>
    <div class="wm-nav-tab tab-projects">
      <ul class="wm-nav tab-inner">
        <li><a href="https://webmaker.org/projects/" target="_blank">All</a></li>
        <li><a href="https://webmaker.org/projects/?tool=popcorn" target="_blank">Popcorn Projects</a></li>
        <li><a href="https://webmaker.org/projects/?tool=thimble" target="_blank">Thimble Projects</a></li>
      </ul>
    </div>
    <div class="wm-nav-tab tab-tools">
      <ul class="wm-nav tab-inner">
        <li><a href="https://popcorn.webmaker.org/templates/basic" target="_blank">Popcorn</a></li>
        <li><a href="https://thimble.webmaker.org/editor" target="_blank">Thimble</a></li>
        <li><a href="https://webmaker.org/tools/x-ray-goggles/" target="_blank">X-ray Goggles</a></li>
      </ul>
    </div>
    <div class="wm-nav-tab tab-events">
      <ul class="wm-nav tab-inner">
        <li><a href="https://webmaker.org/events" target="_blank">All Events</a></li>
        <li><a href="https://webmaker.org/events/search" target="_blank">Search</a></li>
        <li><a href="https://donate.mozilla.org/page/event/create" target="_blank">Create</a></li>
      </ul>
    </div>
  </div>
</div>
